.min-vh-80 {
    min-height: 80vh;
}

.img-back-auth {
    background-image: url("../../../public/AuthIcons.svg");
    background-size: cover;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.rounded-start-0 {
    border-top-right-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
}

.rounded-end-0 {
    border-bottom-left-radius: 0rem !important;
    border-top-left-radius: 0rem !important;
}

.w-85 {
    width: 85%;
}

.w-65 {
    width: 65%;
}

.btn-style-disabeld {
    border: 1px solid #c8c4c4;
    background-color: #cccccc !important;
    color: #666666 !important;
}

.btn.btn-primary {
    color: whitesmoke;
}

.text-gray {
    color: #666666 !important;
}
.border-grey {
    border-color: #666666;
}
.border-lightGrey {
    border-color: #cccccc;
}
.border-dashed {
    border-style: dashed;
}
.border-dotted {
    border-style: dotted;
}

.accordion-button:focus {
    box-shadow: none;
}

@media (min-width: 480px) {
    /* styles for devices with a minimum screen width of 480px */
}

@media (max-width: 480px) {
    h1 {
        font-size: 6svw;
    }
    h2 {
        font-size: 5svw;
    }
    h3 {
        font-size: 4svw;
    }
    h4 {
        font-size: 3.5svw;
    }
    h5 {
        font-size: 3svw;
    }
    h6 {
        font-size: 2.5svw;
    }
    /* styles for devices with a maximum screen width of 480px */
}
