
@import "../../../node_modules/bootstrap/scss/functions";
$white:    #fff !default;
$primary:          #03AA7F;
$secondary:        #F48141;


$font-family-base: "Arial" !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/utilities";

@import '~bootstrap/scss/bootstrap.scss'